In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('DOF_Condominium_Comparable_Rental_Income_in_NYC_20240504.csv')

In [3]:
data

,Boro-Block-Lot,Condo Section,Address,Neighborhood,Building Classification,Total Units,Year Built,Gross SqFt,Estimated Gross Income,Gross Income per SqFt,...,Gross SqFt 3,Estimated Gross Income 3,Gross Income per SqFt 3,Estimated Expense 3,Expense per SqFt 3,Net Operating Income 3,Full Market Value 3,Market Value per SqFt 3,Distance from Condo in miles 2,Report Year
0,1-00576-7501,0003-R1,60 WEST 13 STREET,GREENWICH VILLAGE-CENTRAL,R4 -ELEVATOR,70,1966.0,82017,4452703,54.29,...,27108.0,1471693.0,54.29,571708.0,21.09,899985.0,7318000.0,269.96,0.35,2019
1,1-01271-7501,0007-R2,1360 6 AVENUE,MIDTOWN WEST,R4 -ELEVATOR,183,1963.0,141738,7113830,50.19,...,39510.0,1987748.0,50.31,527854.0,13.36,1459894.0,9322000.0,235.94,0.63,2019
2,1-00894-7501,0009-R1,77 PARK AVENUE,MURRAY HILL,R4 -ELEVATOR,109,1924.0,158571,7329152,46.22,...,20784.0,960636.0,46.22,374112.0,18.00,586524.0,3423000.0,164.69,0.22,2019
3,1-00631-7501,0018-R1,712 GREENWICH STREET,GREENWICH VILLAGE-WEST,R9 -CONDOPS,20,1910.0,53943,2132906,39.54,...,37064.0,1461804.0,39.44,504070.0,13.60,957734.0,14265000.0,384.87,0.19,2019
4,1-00868-7501,0019-R1,35 EAST 38 STREET,MURRAY HILL,R4 -ELEVATOR,113,1961.0,88230,4288860,48.61,...,41603.0,2022322.0,48.61,497572.0,11.96,1524750.0,7628000.0,183.35,0.22,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31570,5-02829-7501,0100-R1,31 HYLAN BOULEVARD,ROSEBANK,R4 -ELEVATOR,52,1988.0,63601,1425934,22.42,...,297600.0,6743616.0,22.66,3217056.0,10.81,3526560.0,26655000.0,89.57,0.93,2023
31571,5-02862-7501,0086-R1,50 BELAIR ROAD,ROSEBANK,R2 -WALK-UP,48,1985.0,51425,1097410,21.34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
31572,5-03019-7501,0117-R1,81 NARROWS ROAD NORTH,ROSEBANK,R2 -WALK-UP,40,1946.0,38700,846369,21.87,...,8950.0,210862.0,23.56,74106.0,8.28,136756.0,1110000.0,124.02,0.17,2023
31573,5-03318-7501,0097-R1,163 CROMWELL AVENUE,DONGAN HILLS,R2 -WALK-UP,48,1973.0,38424,745810,19.41,...,10626.0,206251.0,19.41,99884.0,9.40,106366.0,813000.0,76.51,0.21,2023
31574,5-05491-7501,0012-R1,119 CORTELYOU AVENUE,GREAT KILLS,R2 -WALK-UP,165,1974.0,124516,2584952,20.76,...,69442.0,1471476.0,21.19,684004.0,9.85,787472.0,6105000.0,87.92,2.47,2023

In [4]:
data.columns

Index(['Boro-Block-Lot', 'Condo Section', 'Address', 'Neighborhood',
       'Building Classification', 'Total Units', 'Year Built', 'Gross SqFt',
       'Estimated Gross Income', 'Gross Income per SqFt', 'Estimated Expense',
       'Expense per SqFt', 'Net Operating Income', 'Full Market Value',
       'Market Value per SqFt', 'Boro-Block-Lot 1', 'Address 1',
       'Neighborhood 1', 'Building Classification 1', 'Total Units 1',
       'Year Built 1', 'Gross SqFt 1', 'Estimated Gross Income 1',
       'Gross Income per SqFt 1', 'Estimated Expense 1', 'Expense per SqFt 1',
       'Net Operating Income 1', 'Full Market Value 1',
       'Market Value per SqFt 1', 'Distance from Condo in miles',
       'Boro-Block-Lot 2', 'Address 2', 'Neighborhood 2',
       'Building Classification 2', 'Total Units 2', 'Year Built 2',
       'Gross SqFt 2', 'Estimated Gross Income 2', 'Gross Income per SqFt 2',
       'Estimated Expense 2', 'Expense per SqFt 2', 'Net Operating Income 2',
       'Full Market Value 2', 'Market Value per SqFt 2',
       'Distance from Condo in miles 1', 'Boro-Block-Lot 3', 'Address 3',
       'Neighborhood 3', 'Building Classification 3', 'Total Units 3',
       'Year Built 3', 'Gross SqFt 3', 'Estimated Gross Income 3',
       'Gross Income per SqFt 3', 'Estimated Expense 3', 'Expense per SqFt 3',
       'Net Operating Income 3', 'Full Market Value 3',
       'Market Value per SqFt 3', 'Distance from Condo in miles 2',
       'Report Year'],
      dtype='object')

In [5]:
columns_to_drop = ['Condo Section', 'Distance from Condo in miles', 'Distance from Condo in miles 1', 'Distance from Condo in miles 2']

In [6]:
columns_to_drop = [col for col in columns_to_drop if col in data.columns]
data.drop(columns_to_drop, axis=1, inplace=True)

In [7]:
base_columns = [
    'Boro-Block-Lot', 'Address', 'Neighborhood', 'Building Classification',
    'Total Units', 'Year Built', 'Gross SqFt', 'Estimated Gross Income', 'Gross Income per SqFt',
    'Estimated Expense', 'Expense per SqFt', 'Net Operating Income', 'Full Market Value',
    'Market Value per SqFt'
]

Identify Columns with Indexes: Determine which columns have multiple indexed versions (1, 2, 3).

Stack the DataFrames: Combine the modified DataFrames into a single DataFrame.

In [8]:
report_year = data['Report Year'].copy()

In [12]:
dfs = []
for i in range(3):  
    col_suffix = '' if i == 0 else f' {i+1}'
    columns = [col + col_suffix if f'{col} {i+1}' in data.columns else col for col in base_columns]
    subset = data[columns]
    subset = subset.copy() 
    subset.columns = base_columns  # Standardize column names to facilitate combining
    subset.loc[:, 'Report Year'] = report_year 
    dfs.append(subset)

In [13]:
combined_df = pd.concat(dfs, ignore_index=True)

In [14]:
combined_df

,Boro-Block-Lot,Address,Neighborhood,Building Classification,Total Units,Year Built,Gross SqFt,Estimated Gross Income,Gross Income per SqFt,Estimated Expense,Expense per SqFt,Net Operating Income,Full Market Value,Market Value per SqFt,Report Year
0,1-00576-7501,60 WEST 13 STREET,GREENWICH VILLAGE-CENTRAL,R4 -ELEVATOR,70.0,1966.0,82017.0,4452703.0,54.29,1729739.0,21.09,2722964.0,22115002.0,269.64,2019
1,1-01271-7501,1360 6 AVENUE,MIDTOWN WEST,R4 -ELEVATOR,183.0,1963.0,141738.0,7113830.0,50.19,2361355.0,16.66,4752475.0,38596999.0,272.31,2019
2,1-00894-7501,77 PARK AVENUE,MURRAY HILL,R4 -ELEVATOR,109.0,1924.0,158571.0,7329152.0,46.22,2854278.0,18.00,4474874.0,36343010.0,229.19,2019
3,1-00631-7501,712 GREENWICH STREET,GREENWICH VILLAGE-WEST,R9 -CONDOPS,20.0,1910.0,53943.0,2132906.0,39.54,666196.0,12.35,1466710.0,11912000.0,220.83,2019
4,1-00868-7501,35 EAST 38 STREET,MURRAY HILL,R4 -ELEVATOR,113.0,1961.0,88230.0,4288860.0,48.61,1055231.0,11.96,3233629.0,26261996.0,297.65,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94720,5-02922-0150,225 PARK HILL AVENUE,CONCORD-FOX HILLS,D1 -ELEVATOR,305.0,1970.0,297600.0,6743616.0,22.66,3217056.0,10.81,3526560.0,26655000.0,89.57,2023
94721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023
94722,5-03023-0028,30 NARROWS ROAD SOUTH,ROSEBANK,C7 -WALK-UP,14.0,1974.0,8950.0,210862.0,23.56,74106.0,8.28,136756.0,1110000.0,124.02,2023
94723,5-03343-0019,194 SEAVIEW AVENUE,GRANT CITY,C1 -WALK-UP,15.0,1975.0,10626.0,206251.0,19.41,99884.0,9.40,106366.0,813000.0,76.51,2023
94724,5-04001-0001,2838 HYLAN BOULEVARD,OAKWOOD-BEACH,C9 -WALK-UP,84.0,1950.0,69442.0,1471476.0,21.19,684004.0,9.85,787472.0,6105000.0,87.92,2023

In [15]:
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94725 entries, 0 to 94724
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Boro-Block-Lot           88289 non-null  object
 1   Address                  88289 non-null  object
 2   Neighborhood             88287 non-null  object
 3   Building Classification  88289 non-null  object
 4   Total Units              88289 non-null  float64
 5   Year Built               88214 non-null  float64
 6   Gross SqFt               88289 non-null  float64
 7   Estimated Gross Income   88288 non-null  float64
 8   Gross Income per SqFt    88289 non-null  float64
 9   Estimated Expense        88281 non-null  float64
 10  Expense per SqFt         88282 non-null  float64
 11  Net Operating Income     88281 non-null  float64
 12  Full Market Value        88287 non-null  float64
 13  Market Value per SqFt    88286 non-null  float64
 14  Report Year              94725 non-null  int64
dtypes: float64(10), int64(1), object(4)
memory usage: 10.8+ MB
None

In [16]:
print(combined_df.describe())

        Total Units   Year Built    Gross SqFt  Estimated Gross Income  \
count  88289.000000  88214.00000  8.828900e+04            8.828800e+04
mean      67.522183   1956.30163  7.040928e+04            2.487711e+06
std      148.047647     55.51961  1.162650e+05            4.422159e+06
min        1.000000      0.00000  1.000000e+00            3.400000e+01
25%       19.000000   1920.00000  1.836000e+04            4.965468e+05
50%       36.000000   1951.00000  3.570000e+04            1.020393e+06
75%       72.000000   2002.00000  7.426000e+04            2.326119e+06
max    20363.000000   2022.00000  3.801490e+06            1.143618e+08

       Gross Income per SqFt  Estimated Expense  Expense per SqFt  \
count           88289.000000       8.828100e+04      88282.000000
mean               31.993254       8.279514e+05         10.859927
std                12.670144       1.452799e+06          3.867358
min                 0.580000      -1.069900e+04         -0.340000
25%                21.430000       1.710730e+05          8.060000
50%                29.670000       3.563530e+05         10.300000
75%                41.370000       8.107770e+05         13.170000
max               118.680000       4.348905e+07         53.470000

       Net Operating Income  Full Market Value  Market Value per SqFt  \
count          8.828100e+04       8.828700e+04           88286.000000
mean           1.659886e+06       1.248553e+07             157.772821
std            3.068078e+06       2.353534e+07              86.887892
min            2.200000e+01       3.100000e+01               0.050000
25%            3.121310e+05       2.172502e+06              85.230000
50%            6.399250e+05       4.552000e+06             142.280000
75%            1.511145e+06       1.127600e+07             219.057500
max            9.079181e+07       4.112740e+08            1628.060000

        Report Year
count  94725.000000
mean    2017.298559
std        3.367039
min     2012.000000
25%     2014.000000
50%     2017.000000
75%     2020.000000
max     2023.000000

In [17]:
print(combined_df.isnull().sum())

Boro-Block-Lot             6436
Address                    6436
Neighborhood               6438
Building Classification    6436
Total Units                6436
Year Built                 6511
Gross SqFt                 6436
Estimated Gross Income     6437
Gross Income per SqFt      6436
Estimated Expense          6444
Expense per SqFt           6443
Net Operating Income       6444
Full Market Value          6438
Market Value per SqFt      6439
Report Year                   0
dtype: int64

In [18]:
combined_df.dropna(inplace=True)

In [19]:
combined_df

,Boro-Block-Lot,Address,Neighborhood,Building Classification,Total Units,Year Built,Gross SqFt,Estimated Gross Income,Gross Income per SqFt,Estimated Expense,Expense per SqFt,Net Operating Income,Full Market Value,Market Value per SqFt,Report Year
0,1-00576-7501,60 WEST 13 STREET,GREENWICH VILLAGE-CENTRAL,R4 -ELEVATOR,70.0,1966.0,82017.0,4452703.0,54.29,1729739.0,21.09,2722964.0,22115002.0,269.64,2019
1,1-01271-7501,1360 6 AVENUE,MIDTOWN WEST,R4 -ELEVATOR,183.0,1963.0,141738.0,7113830.0,50.19,2361355.0,16.66,4752475.0,38596999.0,272.31,2019
2,1-00894-7501,77 PARK AVENUE,MURRAY HILL,R4 -ELEVATOR,109.0,1924.0,158571.0,7329152.0,46.22,2854278.0,18.00,4474874.0,36343010.0,229.19,2019
3,1-00631-7501,712 GREENWICH STREET,GREENWICH VILLAGE-WEST,R9 -CONDOPS,20.0,1910.0,53943.0,2132906.0,39.54,666196.0,12.35,1466710.0,11912000.0,220.83,2019
4,1-00868-7501,35 EAST 38 STREET,MURRAY HILL,R4 -ELEVATOR,113.0,1961.0,88230.0,4288860.0,48.61,1055231.0,11.96,3233629.0,26261996.0,297.65,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94719,5-03983-0065,26 EBBITTS AVENUE,NEW DORP,D3 -ELEVATOR,254.0,1969.0,246848.0,4314903.0,17.48,2130298.0,8.63,2184605.0,16344000.0,66.21,2023
94720,5-02922-0150,225 PARK HILL AVENUE,CONCORD-FOX HILLS,D1 -ELEVATOR,305.0,1970.0,297600.0,6743616.0,22.66,3217056.0,10.81,3526560.0,26655000.0,89.57,2023
94722,5-03023-0028,30 NARROWS ROAD SOUTH,ROSEBANK,C7 -WALK-UP,14.0,1974.0,8950.0,210862.0,23.56,74106.0,8.28,136756.0,1110000.0,124.02,2023
94723,5-03343-0019,194 SEAVIEW AVENUE,GRANT CITY,C1 -WALK-UP,15.0,1975.0,10626.0,206251.0,19.41,99884.0,9.40,106366.0,813000.0,76.51,2023
94724,5-04001-0001,2838 HYLAN BOULEVARD,OAKWOOD-BEACH,C9 -WALK-UP,84.0,1950.0,69442.0,1471476.0,21.19,684004.0,9.85,787472.0,6105000.0,87.92,2023

In [20]:
combined_df['Year Built'] = pd.to_numeric(combined_df['Year Built'], errors='coerce')

In [21]:
print(combined_df.duplicated().sum())

8995

In [22]:
combined_df.drop_duplicates(inplace=True)

In [23]:
combined_df.to_csv('rental_cleaned_data.csv', index=False)